<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div>
      <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
          <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            <li class="active"><a href="/destinations">Destinos<span class="sr-only">(current)</span></a></li>
            <li><a href="/companies">Empresas</a></li>
          </ul>
        </nav>
      </div>
      <br/>
      <div class="jumbotron">
        <p>
          Informacion Companias.
        </p>
      </div>
    </div>
  </body>
</html>